<form action="/signup" method="post">
    <input type="text" placeholder="Nombre" name="username">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <button type="submit"> Registrarse</button>
</form>