<form action="/signin" method="post">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <button type="submit"> Iniciar sesión </button>
</form>