<div class="container">
    <h1>Estas en ADD</h1>
    <form action="/moviles/add" method="post">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="marca" placeholder="Marca">
        <input type="text" name="precio" placeholder="Precio">
        <button>Añadir</button>
    </form>
</div>